---
---

/* Minimal Mistakes base imports */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Add Academicons */
@import url("https://cdn.jsdelivr.net/npm/academicons@1.9.4/css/academicons.min.css");

.page__footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;   // reduce space above footer
}

.page__footer-copyright {
  font-size: 0.9em;     // optional: shrink text a bit
}


